<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추억 기록하기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>추억 기록하기</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form id="uploadPhotoBook" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요.">
            </div>
            <div class="form-group">
                <label for="boardFiles">사진</label>
                <input type="file" class="form-control" id="boardFiles" name="boardFiles" placeholder="사진을 입력해 주세요." required>
            </div>
            <div class="form-group">
                <label for="contents">내용</label>
                <textarea class="form-control" id="contents" name="contents" placeholder="내용을 입력하세요."></textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

</body>

<script>
    $('#btn-save').on('click', function () {
        save();
    });

    function save() {

        let form = $('#uploadPhotoBook');
        let formData = new FormData(form[0]);
        console.log(formData)

        $.ajax({
            type: 'POST',
            url: '/api/v1/photo-book/save',
            data: formData,
            async: false,
            contentType : false,
            processData : false
        }).done(function (data) {
            alert('글이 등록되었습니다.');
            // alert(JSON.stringify(data));
            window.location.href = '/';
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    }

</script>

</html>